// main: style.scss

section#kimono {
  color: #888;
  h2 {
    color: #888;
    font-size: 2.5rem;
  }
  p {
    line-height: 2em;
    @include large () {
      font-size: 1.1rem;
    }
  }
  img:nth-child(3) {
    margin-bottom: 20pt;
  }
  img:nth-child(4) {
    margin-bottom: 20pt;
  }
}
