// main: style.scss

@font-face {
  font-family: 'BradieyHandBold';
  src: url('../font/BradleyHandBold.ttf') format('truetype');
}


.phrase {
  display: inline-block;
}

.strong {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .sm-only {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .lg-only {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .small-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .large-visible {
    display: none !important;
  }
}

@mixin fontsize($size) {
  font-size: calc(#{$size} + 0.4vw);
}

@mixin small($max-width:768px) {
 @media only screen and(max-width: $max-width){
  @content;
 }
}
@mixin large($min-width:767px) {
 @media only screen and(min-width: $min-width){
  @content;
 }
}


.img-responsive {
  width: 100%;
  height: auto;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

a.disabled {
  cursor: default;
}

.pagetitle {
  padding: 20pt;
  font-size: 2rem;
  color: #999;
  font-family: 'BradieyHandBold', sans-serif;
}
