// main: style.scss
@media screen and (min-width: 768px) {
  body {
  }
  div#container {
    padding-top: 81px;
    width: 750px;
    margin: 0 auto;
    header {
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
      position: fixed;
      top: 0;
      width: 100%;
      left: 0;
      h1 {
        padding: 10px 0 13px;
        img {
          width: 120pt;
        }
      }
      button {
        right: 15px;
      }
    }
  }
}
