// main: style.scss

body {
  text-align: center;
  font-family: "Sawarabi Gothic";
  font-size: 10pt;
}

div#container {
  width: 100%;
  overflow-x: hidden;
  padding-top: 50pt;
}

a.button1 {
  background: url(../images/bg_button.jpg) center center no-repeat;
  background-size: cover;
  display: inline-block;
  color: #FFF;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.7em 2.5em 0.7em 2em;
  border-radius: 5pt;
  position: relative;
  span {
    font-size: 1.2rem;
    font-family: 'BradieyHandBold', sans-serif;
  }
  i {
    position: absolute;
    right: 10pt;
    font-size: 0.9rem;
    top: calc(50% - 0.45rem);
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  background-color: #FFF;
  z-index: 10000;
  div {
    position: relative;
  }
  h1 {
    padding: 10pt;
    img {
      width: 40%;
    }
  }
  button {
    right: 4%;
    top: calc(50% - 18px);
    position: absolute;
    outline: none;
  }
  nav {
    display: none;
    ul {
      border-top: 1px solid #CCC;
      li {
        border-bottom: 1px solid #CCC;
        a {
          text-align: left;
          color: #999;
          display: block;
          padding: .7em;
          font-size: 1rem;
          font-family: 'BradieyHandBold', sans-serif;
          text-decoration: none;
        }
      }
    }
  }
}

section#index-mainvisual {
  padding: 30pt 10pt 10pt;
  margin-bottom: -35pt;
  position: relative;
  h2 {
    color: #888;
    font-size: 1rem;
    line-height: 1.8em;
  }
  img {
    margin-top: 20pt;
  }
  span {
    position: absolute;
    bottom: 20pt;
    left: 20pt;
    text-align: left;
    display: block;
    color: #FFF;
    font-size: .9rem;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  }
}

nav#top-memu {
  background: url(../images/menu_bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 40pt 0;
  ul {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #FFF;
    li {
      width: calc(100% / 3);
      text-align: center;
      box-sizing: border-box;
      border-right: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      a {
        font-family: 'BradieyHandBold', sans-serif;
        font-size: 1.2rem;
        padding: 1em 0.2em;
        display: block;
        color: #FFF;
        text-decoration: none;
        text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
      }
    }
    li:nth-child(3), li:nth-child(6) {
      border-right: none;
    }
    li:nth-child(5) a {
      padding: 0.5em 0.2em;
    }
  }
}

section#index-story {
  padding: 20pt 0;
  p {
    line-height: 1.8em;
    color: #666;
  }
}

section#index-main-contents {
  ul {
    li {
      background: url(../images/maincontent_waterpaing1.jpg) left 60% / 20% no-repeat,
      url(../images/maincontent_waterpaing2.jpg) right 120% / 25% no-repeat,
      url(../images/maincontent_butterfly1.jpg) 90% 60% / 15% no-repeat,
      url(../images/maincontent_butterfly2.jpg) 3% 95% / 20% no-repeat;
      padding-bottom: 50pt;
      position: relative;
      h3 {
        padding: 20pt;
        font-size: 2rem;
        color: #777;
        font-family: 'BradieyHandBold', sans-serif;
      }
      p {
        line-height: 1.8em;
        color: #666;
      }
      a {
        margin-top: 20pt;
      }
    }
    li:last-child {
      background: url(../images/maincontent_waterpaing1.jpg) left 60% / 20% no-repeat,
      url(../images/maincontent_waterpaing2.jpg) right 100% / 25% no-repeat,
      url(../images/maincontent_butterfly1.jpg) 90% 60% / 15% no-repeat,
      url(../images/maincontent_butterfly2.jpg) 3% 95% / 20% no-repeat;
    }
  }
}

section#index-news {
  padding-bottom: 30pt;
  h3 {
    color: #666;
    font-size: 2.6rem;
    padding: 10pt 10pt;
    font-family: 'BradieyHandBold', sans-serif;
  }
  ul {
    margin: 10pt;
    border-top: 4px solid #c8c7bf;
    text-align: left;
    li {
      border-bottom: 1px dotted #c8c7bf;
      a {
        color: #444;
        display: block;
        padding: 10pt 20pt 10pt 10pt;
        text-decoration: none;
        position: relative;
        line-height: 1.5em;
        span {
          font-family: serif;
          display: block;
          margin-bottom: 5pt;
        }
        i {
          font-size: 0.8rem;
          position: absolute;
          right: 0pt;
          top: calc(50% - 0.5em);
        }
      }
    }
  }
  > a {
    margin-top: 20pt;
  }
}

section#index-shop {
  padding-bottom: 20pt;
  h3 {
    color: #666;
    font-size: 2.6rem;
    padding: 10pt 10pt;
    font-family: 'BradieyHandBold', sans-serif;
  }
  > ul {
    margin: 10pt;
    > li {
      color: #666;
      margin-bottom: 30pt;
      h4 {
        font-size: 1rem;
        line-height: 1.8em;
        color: #666;
        font-weight: bold;
        margin-bottom: 0.5em;
      }
      p {
        line-height: 1.8em;
        a {
          color: #d52855;
        }
      }
      > ul {
        display: flex;
        justify-content: center;
        margin-bottom: 10pt;
        li {
          width: 30pt;
          margin: 5pt;
          img {
            width: 100%;
          }
        }
      }
      > a {
        font-size: 1rem;
      }
    }
  }
  p#message {
    font-weight: bold;
    color: #666;
    line-height: 1.8em;
    margin: 10pt;
    font-size: .9rem;
  }
}

footer {
  div#pagetop {
    padding: 10pt 0;
    background: url(../images/bg_pagetop.jpg) center center / cover no-repeat;
    i {
      color: #FFF;
      font-size: 3rem;
    }
  }
  > img {
    width: 100pt;
    margin: 20pt 0 10pt;
  }
  small {
    color: #666;
    font-size: 0.7rem;
    padding: 10pt 0 20pt;
    display: block;
  }
}
