// main: style.scss

section#photo {
  color: #999;
  padding-bottom: 20pt;
  h2 {
    color: #999;
    font-size: 2.5rem;
  }
  p {
    line-height: 2em;
    @include large () {
      font-size: 1.1rem;
    }
  }
  p#photo-mainvisual {
    margin: 10pt;
  }
  div#photo-plan-pickup {
    position: relative;
    padding-bottom: 20pt;
    p {
      margin: 0 10pt;
    }
    a#plan-more-button {
      background-color: #f7deae;
      display: inline-block;
      font-size: 3rem;
      font-family: 'BradieyHandBold', sans-serif;
      color: #FFF;
      border-radius: 50pt;
      text-decoration: none;
      width: 100pt;
      height: 100pt;
      box-sizing: border-box;
      padding-top: .8em;
      position: absolute;
      bottom: 20pt;
      right: 10pt;
    }
  }
  h3 {
    margin-top: 20pt;
    padding: 20pt;
    font-size: 2rem;
    color: #999;
    font-family: 'BradieyHandBold', sans-serif;
  }
}

section#photo-plan {
  h2 {
    span {
      font-family :serif;
      font-size: 1.2rem;
    }
  }
  ul {
    background-color: #f4f2ea;
    padding: 10pt;
    li {
      margin-bottom: 10pt;
      background-color: #FFF;
      border: 1px solid #EEE;
      border-radius: 10pt;
      padding: 10pt;
      text-align: left;
      color: #888;
      line-height: 1.8em;
      position: relative;
      h3 {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 5pt;
      }
      span.price {
        position: absolute;
        top: 10pt;
        right: 10pt;
      }
    }
  }
}

section#photo-flow {
  h2 {
    span {
      font-family :serif;
      font-size: 1.2rem;
    }
  }
  ul {
    padding: 10pt;
    li {
      padding: 5pt;
      i {
        color: #888;
      }
    }
    li.step {
      border-radius: 10pt;
      line-height: 1.8em;
      color: #888;
      border: 1px solid #EEE;
      padding: 10pt;
      h3 {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 5pt;
      }
    }
  }
}
