// main: style.scss

body.resort {
  background: url(../images/resort/bg_resort.png);
  @media screen and (max-width: 768px) {
    footer {
      background-color: #FFF;
    }
  }
}

@media screen and (min-width: 768px) {
  section#resort {
    div.keyvisual {
      width: 500px;
      margin: 0 auto;
      img {
        width: 100%;
      }
      padding-bottom: 30px;
    }
    ul {
      width: 500px;
      margin: 0 auto;
      li {
        margin-top: 30px;
        a {
          &:hover {
            opacity: .6;
          }
          display: flex;
          background-color: rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
          text-decoration: none;
          > div:nth-child(1) {
            img {
            width: 240px;
            height: 270px;
            }
          }
          > div:nth-child(2) {
            width: 260px;
            box-sizing: border-box;
            padding: 10px;
            h3 {
              margin-top: 20px;
            }
            h4 {
              margin-top: 20px;
              color: #444;
              font-weight: bold;
              font-size: 16px;
              line-height: 1.6em;
            }
            p {
              margin-top: 30px;
              color: #999;
              line-height: 1.6em;
              font-size: 15px;
              padding-top: 20px;
              background: url(../images/resort/border1.png) center top no-repeat;
            }
          }
        }
      }
      li:nth-child(1)  h3 img  {
        width: 241px;
      }
      li:nth-child(2)  h3 img  {
        width: 80.5px;
      }
      li:nth-child(3)  h3 img  {
        width: 117px;
      }
      li:nth-child(4)  h3 img  {
        width: 78px;
      }
      li:nth-child(5)  h3 img  {
        width: 141px;
      }
      li:nth-child(6)  h3 img  {
        width: 105.5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section#resort {
    div.keyvisual {
      padding: 10px;
      img {
        width: 100%;
      }
      padding-bottom: 30px;
    }
    ul {
      padding: 10px;
      padding-bottom: 30px;
      li {
        margin-top: 30px;
        a {
          &:hover {
            opacity: .6;
          }
          display: flex;
          background-color: rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
          text-decoration: none;
          > div:nth-child(1) {
            width: 50%;
            img {
              width: 100%;
            }
          }
          > div:nth-child(2) {
            width: 50%;
            box-sizing: border-box;
            padding: 10px;
            h3 {
              margin-top: 10px;
            }
            h4 {
              margin-top: 10px;
              color: #444;
              font-weight: bold;
              font-size: 14px;
              line-height: 1.6em;
            }
            p {
              margin-top: 10px;
              color: #999;
              line-height: 1.6em;
              font-size: 12px;
              padding-top: 10px;
              background: url(../images/resort/border1.png) center top no-repeat;
            }
          }
        }
      }
      li:nth-child(1)  h3 img  {
        width: 201px;
        max-width: 100%;
      }
      li:nth-child(2)  h3 img  {
        width: 80.5px;
      }
      li:nth-child(3)  h3 img  {
        width: 117px;
      }
      li:nth-child(4)  h3 img  {
        width: 78px;
      }
      li:nth-child(5)  h3 img  {
        width: 141px;
      }
      li:nth-child(6)  h3 img  {
        width: 105.5px;
      }
    }
  }
}

div#page-title {
  background: url(../images/resort/shell1.png) left 100px no-repeat, url(../images/resort/shell2.png) right 120px no-repeat;
  padding-top: 40px;
  @media screen and (max-width: 768px) {
    background: url(../images/resort/shell1.png) left 130px / 12% no-repeat, url(../images/resort/shell2.png) right 140px / 12% no-repeat;
    padding: 40px 20px 20px;
  }
  h2 {
    @media screen and (max-width: 768px) {
      img {
        max-width: 90%;
      }
    }
  }
  h3 {
    padding-top: 1em;
    font-size: 1.6em;
    color: #999;
    line-height: 1.7em;
    font-weight: bold;
  }
  h4 {
    padding-top: 1em;
    font-size: 1.3em;
    line-height: 1.7em;
    color: #0190cf;
  }
  p {
    font-size: 1.2em;
    padding-top: 1.5em;
    line-height: 1.8em;
    color: #999;
  }
  p > img {
    width: 100%;
  }
}

div#resort-chapel {
  margin-top: 30px;
  background-color: #f1eede;
  padding: 30px;
  h4 {
    margin-bottom: 20px;
  }
  h5 {
    color: #633a00;
    font-size: 1.4em;
    margin-bottom: 20px;
  }
  p {
    color: #633a00;
    font-size: 1.2em;
    line-height: 1.8em;
    margin-bottom: 20px;
  }
  > img {
    width: 100%;
  }
}

a#shop-link {
  img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    @media screen and (min-width: 768px) {
      width: 400px;
    }
  }
}
