// main: style.scss

section#wedding {
  color: #666;
  div.keyvisual {
    padding-top: 40vw;
    background: url(../images/wedding/bg_title.jpg) center center / cover no-repeat;
    padding-bottom: 10vw;
  }
  h2 {
    margin-bottom: 1em;
    @include large () {
      font-size: 2.5rem;
    }
  }
  p {
    line-height: 2em;
    @include large () {
      font-size: 1.1rem;
    }
  }
  > ul {
    margin: 10pt;
    @include large () {
      display: flex;
      margin: 0;
      justify-content: space-between;
    }
    img {
      @include large () {
        width: 245px;
        &:hover {
          opacity: 0.7;
        }
      }
      margin-bottom: 10pt;
      width: 100%;
    }
  }
}


section#wedding-tuxedo {
  position: relative;
  padding-bottom: 20pt;
  h2 {
    position: absolute;
    top: 70pt;
    padding: 20pt 0;
    width: 100%;
    @include large () {
      font-size: 2.5rem;
    }
  }
  > p {
    @include large () {
      margin-top: 30pt;
      font-size: 1.1rem;
    }
    position: absolute;
    top: 100pt;
    padding: 20pt 0;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.9em;
    color: #777;
  }
}

section#wedding-colordress {
  color: #666;
  div.keyvisual {
    padding: 20pt 0;
    background: url(../images/wedding/colordress/bg_title.jpg) center center no-repeat;
    background-size: 100%;
  }
  h2 {
    margin-bottom: 0.5em;
    @include large () {
      font-size: 2.5rem;
    }
  }
  p {
    line-height: 2em;
    @include large () {
      font-size: 1.1rem;
    }
  }
  section#wedding-colordress-brand {
    padding: 20pt;
    h3 {
      font-size: 1.1rem;
    }
    > div {
      padding-top: 10pt;
      display: flex;
      p {
        width: 50%;
        text-align: center;
      }
    }
  }
  section#wedding-colordress-gallery {
    h3 {
      padding: 10pt;
      font-size: 1.7rem;
      color: #777;
      font-family: 'BradieyHandBold', sans-serif;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 10pt;
      li {
        width: 33.3%;
        box-sizing: border-box;
        padding: 2pt;
        img {
          width: 100%;
        }
      }
    }
  }
}

section#wedding-weddingdress {
  color: #666;
  position: relative;
  div.keyvisual {
    padding: 0;
    h2 {
      width: 100%;
      position: absolute;
      padding: 0;
      top: 2em;
      margin-bottom: 0.5em;
      @include large () {
        top: 3em;
        font-size: 2.5rem;
      }
    }
    p {
      width: 100%;
      position: absolute;
      top: 80pt;
      line-height: 2em;
      @include large () {
        top: 10em;
        font-size: 1.2rem;
      }
    }
  }
  section#wedding-weddingdress-brand {
    padding: 0 20pt 20pt;
    h3 {
      font-size: 1.1rem;
      @include large () {
        font-size: 1.2rem;
      }
    }
    > div {
      padding-top: 10pt;
      display: flex;
      p {
        @include large () {
          font-size: 1rem;
        }
        width: 50%;
        line-height: 1.8em;
        text-align: center;
      }
    }
  }
  section#wedding-weddingdress-gallery {
    h3 {
      padding: 10pt;
      font-size: 1.7rem;
      color: #777;
      font-family: 'BradieyHandBold', sans-serif;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 10pt;
      li {
        width: 33.3%;
        box-sizing: border-box;
        padding: 2pt;
        img {
          width: 100%;
        }
      }
    }
  }
}
